{% extends "base.html" %} {% load static %}
{% block body_block %}
        
        <!--================Portfolio Details Area =================-->
        <section class="portfolio_details_area p_120">
        	<div class="container">
        		<div class="portfolio_details_inner">
					<div class="row">
						<div class="col-md-4 text-center">
								<img class="img" src="{{ portfolio.picture.url }}" alt="">
						</div>
						<div class="col-md-8">
						<br><br>
							<div class="portfolio_right_text">
								<h4>{{ portfolio.title }}</h4>
								<p>{{portfolio.desc}}</p>
								<ul class="list">
									<li><span>Completed</span>:  {{ portfolio.date }}</li>
								</ul>
							</div>
						</div>
					</div>
					{% for para in portfolio_details %}
						<p>{{para}}</p>
					{% endfor %}
        		</div>
        	</div>
        </section>
        <!--================End Portfolio Details Area =================-->
        
{% endblock body_block %}
