{% extends "base.html" %} {% load static %}
{% block body_block %}

        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="home_left_img">
								<img src="{% static 'img/banner/home_left_1.png' %}" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="banner_content">
							<br><br><br>
								<h5>This is me</h5>
								<h2>Sandeep Raghuwanshi</h2>
								<p>Some content about you here.</p>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>

        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
        				</div>
        			</div>
        			<div class="col-lg-6">
								<img src="{% static 'img/banner/home-banner.jpg' %}" alt="An image shall be added here">
        			</div>
        			<div class="col-lg-12 row">
                        {% for about in about_list %}
        				    	<div class="feature_item col-lg-6" style="padding:20px">
        				    		<h4>{{ about.title }}</h4>
        				    		<p>{{ about.content }}</p>
        				    	</div>
                        {% endfor %}
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->

        		        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Testimonials</h2>
        			<p>What my acquaintances think about me?</p>
        		</div>
        		<div class="testi_inner">
					<div class="testi_slider owl-carousel">
					{% for testimonial in testimonials_list %}
						<div class="item">
							<div class="testi_item">
								<p>{{testimonial.content}}</p>
								<h4>{{testimonial.name}}</h4>
								<small>{{ testimonial.designation }}</small>
							</div>
						</div>
					{% endfor %}
					</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->
{% endblock body_block %}
