{% extends "base.html" %}{% load static %}
{% block body_block %}
        
        <!--================Contact Area =================-->
        <section class="contact_area p_120">
            <div class="container">
                	<div class="feature_inner row" style="margin:30px 0px;">
						<div class="col-lg-4 col-md-4">
        					<div class="feature_item" style="padding:30px;">
        						<div class="info_item row">
                                    <i class="lnr lnr-home" style="margin:0px"></i>
                                    <div style="padding:15px 30px">
                                        <h6>California, United States</h6>
                                    <p>Santa monica bullevard</p>
                                    </div>
                                </div>
        					</div>
        				</div>
						<div class="col-lg-4 col-md-4">
        					<div class="feature_item" style="padding:30px;">
        						<div class="info_item row">
                                    <i class="lnr lnr-phone-handset" style="margin:0px"></i>
                                    <div style="padding:15px 30px">
                                        <h6>00 (440) 9865 562</h6>
                                        <p>Mon to Fri 9am to 6 pm</p>
                                    </div>
                                </div>
        					</div>
        				</div>
						<div class="col-lg-4 col-md-4">
        					<div class="feature_item" style="padding:30px;">
        						<div class="info_item row">
                                    <i class="lnr lnr-envelope" style="margin:0px"></i>
                                    <div style="padding:15px 30px">
                                        <h6>support@colorlib.com</h6>
                                        <p>Send us your query anytime!</p>
                                    </div>
                                </div>
        					</div>
        				</div>                                            
            		</div>
                    <div class="col-lg-12">
                        <form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" required class="form-control" id="name" name="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" required class="form-control" id="email" name="email" placeholder="Enter email address">
                                </div>
                                <div class="form-group">
                                    <input type="text" request class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" required name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <input type="submit" value="Send Message" class="btn submit_btn">
                            </div>
                        </form>
                    </div>
            </div>
        </section>
        <!--================Contact Area =================-->
        
        <!--================Contact Success and Error message Area =================-->
        <div id="success" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Thank you</h2>
                        <p>Your message is successfully sent...</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals error -->

        <div id="error" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Sorry !</h2>
                        <p> Something went wrong </p>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Contact Success and Error message Area =================-->
        
{% endblock body_block %}
