{% extends "base.html" %}{% load static %}
{% block body_block %}
        <!--================Blog Area =================-->
        <section class="blog_area single-post-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post row">

                            <div class="col-lg-12">
                                <div class="feature-img">
                                    <img class="img-fluid" width='100%' src="{{ blog.picture.url }}" alt="">
                                </div>									
                            </div>
                        
                            <div class="col-lg-3  col-md-3">
                                <div class="blog_info text-right">
                                    <ul class="blog_meta list">
                                        <li>
                                            <div class="post_tag">
                                                <a class="active" href="#">{{blog.category}}</a>
                                            </div>
                                        </li>
                                        <li><a href="#">{{ blog.author }}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{ blog.date }}<i class="lnr lnr-calendar-full"></i></a></li>
                                        {% comment %} <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li> {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-lg-9 col-md-9 blog_details">
                                <h2>{{ blog.title }}</h2>
                                <p>{{blog.content|linebreaks}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Recent Posts</h3>
                                {% for blog in blogs %}
                                <div class="media post_item">
                                    <img src="{{ blog.picture.url }}" width=100px alt="post">
                                    <div class="media-body">
                                        <a href="{% url 'blog:blogs' %}blog-details/{{blog.id}}"><h3>{{ blog.title }}</h3></a>
                                        <p>{{ blog.date }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget ads_widget">
                                <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Post Catgories</h4>
                                <ul class="list cat-list">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url 'blog:blogs'%}{{ category.id }}" class="d-flex justify-content-between">
                                                <p>{{ category.category }}</p>
                                            </a>
                                        </li>
                                    {% endfor %}                                    					
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->    
{% endblock body_block %}
