{% extends "base.html" %}{% load static %}        
{% block body_block %}

        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Teachings</h2>
        		</div>
        		<div class="feature_inner row">
					{% for teaching in teachings_list %}
						<div class="col-lg-6 col-md-6">
        					<div class="feature_item">
        						<h4>{{ teaching.title }}</h4>
        						<p>{{ teaching.content }}</p>
        					</div>
        				</div>
					{% endfor %}
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
{% endblock body_block %}