{% extends "base.html" %}{% load static %}
{% block body_block %}
        <!--================Home Banner Area =================-->
        <section class="banner_area" style="min-height:200px">
            <div class="banner_inner d-flex align-items-center" style="min-height:200px">
				<div class="container">
					<div class="banner_content text-center">
						<h2>Blogs</h2>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area">
        <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">

                            {% if blog_list %}
                                {% for blog in blog_list %}
                                    <article class="row blog_item">
                                   <div class="col-md-3">
                                       <div class="blog_info text-right">
                                            <div class="post_tag">
                                                <a class="active" href="#">{{ blog.category }}</a>
                                            </div>
                                            <ul class="blog_meta list">
                                                <li><a href="#">{{ blog.author }}<i class="lnr lnr-user"></i></a></li>
                                                <li><a href="#">{{ blog.date }}<i class="lnr lnr-calendar-full"></i></a></li>
                                                {% comment %} <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li> {% endcomment %}
                                            </ul>
                                        </div>
                                   </div>
                                    <div class="col-md-9">
                                        <div class="blog_post">
                                            <img src="{{ blog.picture.url }}" alt="">
                                            <div class="blog_details">
                                                <a href="{% url 'blog:blogs' %}{{"blog-details"}}/{{ blog.id }}"><h2>{{ blog.title }}</h2></a>
                                                <p>{{ blog.content|safe|linebreaksbr|truncatewords:50 }}</p>
                                                <a href="{{ blog.id }}" class="blog_btn">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                    </article>
                                {% endfor %}
                            {% else %}
                                <h2>Threre are no blogs to be shown.</h2>
                            {% endif %}

                            <br>
                            {% comment %} <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
		                            <li class="page-item active"><a href="#" class="page-link">01</a></li>
		                            <li class="page-item"><a href="#" class="page-link">02</a></li>
		                            <li class="page-item"><a href="#" class="page-link">03</a></li>
		                            <li class="page-item"><a href="#" class="page-link">04</a></li>
		                            <li class="page-item"><a href="#" class="page-link">05</a></li>
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
		                        </ul>
		                    </nav> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Recent Posts</h3>
                                {% for blog in blogs %}
                                <div class="media post_item">
                                    <img src="{{ blog.picture.url }}" width=100px alt="post">
                                    <div class="media-body">
                                        <a href="/{{blog.id}}"><h3>{{ blog.title }}</h3></a>
                                        <p>{{ blog.date }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget ads_widget">
                                <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Post Catgories</h4>
                                <ul class="list cat-list">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url 'blog:blogs'%}{{ category.id }}" class="d-flex justify-content-between">
                                                <p>{{ category.category }}</p>
                                            </a>
                                        </li>
                                    {% endfor %}                                    					
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
{% endblock body_block %}