{% extends "base.html" %} {% load static %}
{% block body_block %}
        
        <!--================Projects Area =================-->
        <section class="projects_area p_120">
        	<div class="container">
        		<div class="main_title">
					<h2>Research & Publications</h2>
					<p>Let me show you my works.</p>
				</div>
				<div class="projects_inner row">
					{% for randp in randp_list %}
						<div class="col-lg-4 col-sm-6">
							<div class="projects_item">
								<img class="img-fluid" src="{{ randp.picture.url }}" alt="">
								<div class="projects_text">
									<a href="{{ randp.id }}"><h4>{{ randp.title }}</h4></a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
        	</div>
        </section>
        <!--================End Projects Area =================-->
{% endblock body_block %}
